<h3>The ID of the top ten activistas organized by week</h3>

<table>
  <tr>
    <th>Week number</th>
    <th>User id</th>
    <th>Number of codes</th>
    <th>Rank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tops.each do |top| %>
  <tr>
    <td style="border:1px solid black;"><%= top.nweek %></td>
    <td style="border:1px solid black;"><%= top.uid %></td>
    <td style="border:1px solid black;"><%= top.cc %></td>
    <td style="border:1px solid black;"><%= top.rr %></td>
   </tr>
<% end %>
</table>

