<h1>Listing interactions</h1>

<table>
  <tr>
    <th>user_id</th>
    <th>app_id</th>
    <th>created_at</th>
    <th>updated_at</th>
  </tr>

<% @morethans.each do |morethan| %>
  <tr>
    <td><%= morethan.user_id %></td>
    <td><%= morethan.app_id %></td>
    <td><%= morethan.created_at %></td>
    <td><%= morethan.updated_at %></td>
  </tr>
<% end %>
</table>

