<h3>The # of sessions each of those activistas led</h3>

<table>
  <tr>
    <th>User id</th>
    <th>Counter</th>
  </tr>

<% @ions.each do |ion| %>
  <tr>
    <td><%= ion.user_id %></td>
    <td><%= ion.counter %></td>
  </tr>
<% end %>
</table>

