<h1>Listing movmails</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movmails.each do |movmail| %>
  <tr>
    <td><%= link_to 'Show', movmail %></td>
    <td><%= link_to 'Edit', edit_movmail_path(movmail) %></td>
    <td><%= link_to 'Destroy', movmail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movmail', new_movmail_path %>
