/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#bu_alert_01 {
font-size:x-small;
}

#divleft {
border:1px solid black;
width:10%;
float:left;
background-color:lightgrey;
margin-right:2px;
}

#divcentre {
border:1px solid black;
width:76%;
float:left;
}

#divright {
border:1px solid black;
width:10%;
float:left;
background-color:lightgrey;
text-align:center;
margin-left:2px;
}

#divleft ul {
list-style-type: none;
padding:2px;
margin-left:2px;
}

#divleft ul li a {
text-decoration:none;
}

#divcentre table body {
font-size:xx-small;
}

#divcentre table td {
border:1px solid black;
}

#bu_alert_01 {
margin-bottom:6px;
}

