<h3>The time of the first session for each activista and the time of the last session for each activista.</h3>

<table>
  <tr>
    <th>user_id</th>
    <th>min</th>
    <th>max</th>
  </tr>

<% @firsts.each do |first| %>
  <tr>
    <td><%= first.user_id %></td>
    <td><%= first.min %></td>
    <td><%= first.max %></td>
  </tr>
<% end %>
</table>

